/* MainContent.css */

.main-content-container {
    padding: 20px;
  }
  
  .circle-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .circle {
    width: 100px;
    height: 100px;
    background-color: #4caf50; /* Green color */
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }
  
  .circle h6 {
    margin: 0;
  }
  